# Python
__pycache__/
*.pyc
.venv/
env/

# Node
node_modules/
.next/
dist/
frontend/node_modules/
frontend/dist/

# Env
.env
*.env

# SQLite dev databases
db.sqlite3
test.db

# OS/IDE
.DS_Store
.vscode/
.idea/

# Django
media/
staticfiles/

# Database secrets
database/DB_Password.py